@import 'libs/normalize';
@import 'fonts';

body {
    background-color: #f5f5f5;
    padding: 50px 0;
  }

.container {
    width: calc(100vw - 100px);
  height: 100%;
  
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1140px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    
    &__item {
        flex-basis: 0;
        width: 100%;
        flex-grow: 1;
    }
}

.button {
    display: inline-block;
    
    border-radius: 10px;
    padding: 8px 16px;
    min-width: 60px;
    text-align: center;
    cursor: pointer;

    &__openmodal {
        background-color: rgb(76, 111, 216);
    }
    

    &__edit  {
        min-width: 40px;
        padding: 5px 10px;
        margin-right: 8px;
        cursor: pointer;
        background-color: rgb(9, 175, 28);
        border-radius: 5px;
    }
    &__delete {
        min-width: 40px;
        padding: 5px 10px;
        cursor: pointer;
        background-color: rgb(213, 16, 16);
        border-radius: 5px;
    }

    &__closemodal {
      background-color: rgb(132, 131, 131);  
      color: rgb(255, 255, 255);
      margin: 20px 8px 0 250px;
    }

    &__addnote {
        background-color: rgb(76, 111, 216);  
        color: rgb(255, 255, 255);
      }
}

.table {
    
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    vertical-align: bottom;
    color: rgb(255, 255, 255);
  
  
    th,
    td {
        padding: 15px 5px;
    }
    
    th {
        background-color: rgb(50, 44, 44);
        text-align: center;
    }

    td {
        color: #000;
        text-align: center;
        
    }
    tr {
        border-bottom: 1px solid #000;
    }
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;

    &__content {
        padding: 20px;
        border-radius: 12px;
        background-color: white;
        height: 300px;
        width: 500px;
        transform: scale(0.5);
        transition: 0.3s all;
        
        &-button {
            
           
        }
    }
    
    

    &__content.active {
       transform: scale(1); 
        
    }

    &__content-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        svg {
            cursor: pointer;
        }
    }

    &__content-suptitle {
        display: flex;
        flex-direction: column;

        input {
            padding: 10px 5px;
            border-radius: 4px;
            margin-bottom: 10px;
            border-color: rgb(174, 174, 174)
        }
        input:first-child {
            margin-top: 20px;
        }

    }

    


    
}
.active {
    opacity: 1;
    pointer-events: all;
}